---
interface Props {
  colorClass?: string;
  dataIndex?: string;
}

const { colorClass, dataIndex } = Astro.props;
---
<button
  class:list={["w-4 h-4 rounded-full", colorClass]}
  data-index={dataIndex}
  aria-label="Cambiar tema"
></button>