---
import { Icon } from 'astro-icon/components';

export interface Props {
  platform: string;
  url: string;
  label: string;
}

const { platform, url, label } = Astro.props;
const iconName = `ri:${platform}-fill`;
const isExternal = platform !== 'email';
---

<a
  href={url}
  target={isExternal ? '_blank' : '_self'}
  rel={isExternal ? 'noopener noreferrer' : undefined}
  aria-label={label}
  class="flex items-center justify-center w-6 lg:w-7 xl:w-8 2xl:w-9 h-6 lg:h-7 xl:h-8 2xl:h-9 border-2 hover:bg-accent_one rounded-full"
>
  <Icon name={iconName} class="w-4 xl:w-5 2xl:w-6 h-4 xl:h-5 2xl:h-6" />
</a>