---
export interface Props {
  title: string;  
  description: string;
}

const { title, description } = Astro.props;
---

<div class="mb-8 ">
    <div class="border-b-2 w-110 mb-4">
        <h3 class="text-xl font-bold mb-2 font-deco">{title}</h3>
    </div>
    <p class="text-gray-700">{description}</p>
</div>