---
import apoyameData from "../_data/apoyameData.json";
import ApoyameDescription from "./ApoyameDescription.astro";
import Logo from "../../layout/Logo.astro";

import CircuitOne from "@shared/components/CircuitOne.astro";
import CircuitTwo from "@shared/components/CircuitTwo.astro";
import CircuitThree from "@shared/components/CircuitThree.astro";
---

<section class="relative grid place-items-center overflow-hidden flex-grow items-center">
  <!-- CIRCUITOS -->
  <div class="circuit absolute top-40 lg:top-25 left-10 w-[45vw] sm:w-[35vw] md:w-[30vw] lg:w-[20vw] xl:w-[18vw] 2xl:w-[16vw]">
    <CircuitTwo class="accent_one" />
  </div>

  <div class="circuit absolute top-0 lg:top-25 right-10 w-[45vw] sm:w-[35vw] md:w-[30vw] lg:w-[20vw] xl:w-[18vw] 2xl:w-[16vw]">
    <CircuitOne class="accent_two" />
  </div>

  <div class="circuit absolute bottom-0 lg:bottom-25 left-10 w-[45vw] sm:w-[35vw] md:w-[30vw] lg:w-[20vw] xl:w-[18vw] 2xl:w-[16vw]">
    <CircuitThree class="accent_two" />
  </div>

  <div class="circuit absolute bottom-40 lg:bottom-25 right-10 w-[45vw] sm:w-[35vw] md:w-[30vw] lg:w-[20vw] xl:w-[18vw] 2xl:w-[16vw] scale-[-1]">
    <CircuitTwo class="accent_one" />
  </div>

  <!-- CONTENIDO -->
  <div
    class="
      relative z-10
      grid
      lg:w-[65vw]
      lg:max-h-[70vh] max-h-[75vh]
      overflow-y-auto
      px-15 lg:px-20 py-6    
      xl:text-md 2xl:text-lg z-10 
    "
  >
    <p class="mb-4 p-3 lg:p-0 bg-bg lg:bg-transparent">
      <Logo class="font-bold text-xl" /> es un proyecto que
      <strong class="font-deco">
        nace de una pasión: explicar cómo la lingüística y la IA se encuentran
    </strong>.
      Todo el contenido <strong class="font-deco">es y será gratuito</strong>.
    </p>

    <div class="flex flex-col">
  {apoyameData.map((block) => (
    <ApoyameDescription
      title={block.title}
      description={block.description}
      url={block.url}
    />
  ))}
</div>

    <p class="p-3 lg:p-0">
      Sea como sea, <strong class="font-deco">gracias por estar aquí</strong>.
    </p>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  const circuits = document.querySelectorAll(".circuit");

  circuits.forEach((el, i) => {
    const paths = el.querySelectorAll("path");

    // Timeline en bucle
    const tl = gsap.timeline({ repeat: -1, repeatDelay: 0.5, delay: i * 0.25 });


    tl.fromTo(
      paths,
      {
        opacity: 0,
        strokeDasharray: 400,
        strokeDashoffset: 500,
      },
      {
        opacity: 1,
        strokeDashoffset: 0,
        duration: 2,
        stagger: 0.15,
        ease: "power2.out",
      }
    )
    // Salida: espejo de la entrada, sin tocar la entrada
    .to(
      paths,
      {
        opacity: 0,
        strokeDashoffset: 700,
        duration: 5,
        stagger: 0.15,
        ease: "power2.in",
      }
    );
  });
</script>