---
import Logo from '../../layout/Logo.astro';

export interface Props {
  network: string;
  description: string;
  url: string;
}

const { network, description, url } = Astro.props;
---

<div class="mb-8">
  <a href={url} target="_blank" rel="noopener noreferrer" class="inline-block border-b-2 lg:w-3/4 xl:w-1/2 mb-4 pl-3 lg:p-0 ">
    <h3 class="mb-2 text-base sm:text-xl font-bold font-deco hover:scale-110 bg-bg">@<Logo class="text-xl"/> en {network}</h3>
  </a>
  <p class="bg-bg p-3 lg:p-0">{description}</p>
</div>