---
import Logo from '../../layout/Logo.astro';

export interface Props {
  network: string;
  description: string;
  url: string;
}

const { network, description, url } = Astro.props;
---

<div class="mb-8">
  <a href={url} target="_blank" rel="noopener noreferrer" class="inline-block border-b-2 w-1/2 mb-4">
    <h3 class="text-xl font-bold mb-2 font-deco">@<Logo/> en {network}</h3>
  </a>
  <p class="text-gray-700">{description}</p>
</div>